.shoppingInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addButton {
  width: 10%;
  font-size: 16px;
  color: white;
  line-height: 1.33;
  border-radius: 32px;
  background-color: #009bde;
  border: 2px solid #009bde;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}

.input {
  width: 25%;
  line-height: 2;
  border-radius: 32px;
  margin-bottom: 12px;
}

.addButton:hover {
  opacity: 1;
}

.input:focus {
  outline: none;
}
